# WordPress
wp
.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
app/uploads
app/upgrade
!app/plugins/.gitkeep
app/mu-plugins/*

# Plugins (not installed via composer)
!app/mu-plugins/register-theme-directory.php


# Themes
!app/themes/tyrion
!app/themes/tyrion-child

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules
bower_components

# Vagrant
bin
.vagrant

#Misc
.idea/*